<div class="container">
    <div class="login-card">
      <div class="left-section">
        <div class="logo-container">
          <img style="width: 400px;" src="assets/layout/images/usaidlogo-light.png" alt="Móvil con contraseña" class="illustration" />
          <h1>USAID</h1>
        </div>
      </div>
      <div class="right-section">
        <h2>Restablecer</h2>
        
        <form>
          <div class="grid p-fluid mt-0.3">
            <div class="input-group col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
              <i class="pi pi-user-edit"></i>
              <input
                  type="text"
                  pInputText
              />
              <label>Usuario</label>
          </span>
          </div>
        </div>
          <button type="submit" class="login-btn">Continuar</button>
        </form>
      </div>
    </div>
    <!-- Botón fuera de la tarjeta -->
    <button class="faq-btn">Preguntas más frecuentes</button>
  </div>
  