<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header">
        <a [routerLink]="['/']" class="app-logo">
            <div class="app-logo-normal" style="display: flex; align-items: center;">
                <img class="h-5rem" style="height: 5rem; width: auto;" 
                     [src]="'assets/layout/images/usaidlogo-'+ (layoutService.config().colorScheme === 'light' ? 'light' : 'light') + '.png'" alt="USAID Logo">
                <h3 style="color: white; font-size: 2rem; font-weight: bold; margin: 0 0 0 1rem; line-height: 1;">USAID</h3>
            </div>
        </a>
        <button class="layout-sidebar-anchor p-link z-2" type="button" (click)="anchor()"></button>
    </div>

    <div #menuContainer class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>
