<div class="container">
  <div class="login-card">
    <div class="left-section">
      <div class="logo-container">
        <img style="width: 400px;" src="assets/layout/images/usaidlogo-light.png" alt="Logo USAID" class="illustration" />
        <h1>USAID</h1>
      </div>
    </div>
    <div class="right-section">
      <h2>Inicio de Sesión</h2>

      <!-- Contenedor para mensajes de error -->
      <div *ngIf="errorMessage" class="error-container">
        <p>{{ errorMessage }}</p>
      </div>

      <form (ngSubmit)="iniciarSesion()">
        <div class="grid p-fluid mt-0.3">
          <div class="input-group col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
              <i class="pi pi-user"></i>
              <input
                type="text"
                pInputText
                [(ngModel)]="usuario"
                name="usuario"
                required
              />
              <label>Usuario</label>
            </span>
          </div>
        </div>
        <div class="grid p-fluid mt-0.3">
          <div class="input-group col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
              <i class="pi pi-lock"></i>
              <input
                type="password"
                pInputText
                [(ngModel)]="clave"
                name="clave"
                required
              />
              <label>Contraseña</label>
            </span>
          </div>
        </div>
        <a routerLink="/auth/Usuario-Restablecer" class="forgot-link">¿Olvidó su Contraseña?</a>
        <button type="submit" class="login-btn">Iniciar Sesión</button>
        <a class="register-link">-- O --</a>
        <a routerLink="/auth/register" class="register-link">Registrarse</a>
      </form>
    </div>
  </div>
  <!-- Botón fuera de la tarjeta -->
  <button class="faq-btn">Preguntas más frecuentes</button>
</div>
