<div class="container">
  <div class="login-card">
    <div class="left-section">
      <img src="src\assets\layout\images\usaidlogo-light.png" alt="Móvil con contraseña" class="illustration" />
    </div>
    <div class="right-section">
      <h2>Inicio de Sesión</h2>
      <form>
        <div class="input-group">
          <label for="email">Correo Electrónico</label>
          <p-floatLabel>
            <input id="username" type="text" pInputText />

          </p-floatLabel>
        </div>
        <div class="input-group">
          <label for="password">Contraseña</label>
          <p-floatLabel>
            <input id="password" type="text" pInputText />

          </p-floatLabel>
        </div>
        <a href="#" class="forgot-link">¿Necesita una Cuenta?</a>
        <button type="submit" class="login-btn">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
