<div class="container">
  <div class="login-card">
    <div class="left-section">
      <div class="logo-container">
        <img style="width: 400px;" src="assets/layout/images/usaidlogo-light.png" alt="Móvil con contraseña" class="illustration" />
        <h1>USAID</h1>
      </div>
    </div>
    <div class="right-section">
      <h2>Inicio de Sesión</h2>
      <form>
        <div class="input-group">
          <label for="email">Usuario</label>
          <p-floatLabel>
            <input id="username" type="text" pInputText />
          </p-floatLabel>
        </div>
        <div class="input-group">
          <label for="password">Contraseña</label>
          <p-floatLabel>
            <input id="password" type="password" pInputText />
          </p-floatLabel>
        </div>
        <a href="#" class="forgot-link">¿Olvidó su Contraseña?</a>
        <button type="submit" class="login-btn">Iniciar Sesión</button>
        <a href="#" class="register-link">-- O --</a>
        <a routerLink="register" class="register-link">Registrarse</a>
      </form>
    </div>
  </div>
  <!-- Botón fuera de la tarjeta -->
  <button class="faq-btn">Preguntas más frecuentes</button>
</div>
