<p-toast></p-toast>

<div class="container">
    <div class="login-card">
        <div class="left-section">
            <div class="logo-container">
                <img
                    style="width: 400px"
                    src="assets/layout/images/usaidlogo-light.png"
                    class="illustration"
                />
                <h1>USAID</h1>
            </div>
        </div>
        <div class="right-section">
            <h2>Registro</h2>
            <p-tabView [(activeIndex)]="IndexTab" class="custom-tabview">
                <p-tabPanel header="Personal">
                    <form [formGroup]="optanteForm">
                        <div class="grid p-fluid mt-1">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user"></i>
                                    <input
                                        (keydown)="ValidarNumeros($event)"
                                        (input)="permitirSoloNumeros($event); dniYaRegistrado = false"
                                        placeholder="Ingrese su número de identidad."
                                        maxlength="13"
                                        type="text"
                                        pInputText
                                        formControlName="opta_DNI"
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                                (enviadoPersonal && optanteForm.get('opta_DNI')?.invalid) || dniYaRegistrado
                                        }"
                                    />
                                    <label>Número de Identidad</label>
                                </span>
                                <!-- Mensaje de campo requerido -->
                                <small
                                    class="ng-dirty ng-invalid"
                                    *ngIf="
                                        enviadoPersonal &&
                                        optanteForm.get('opta_DNI')?.errors?.['required']
                                    "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                                <!-- Mensaje de DNI ya registrado -->
                                <small
                                    class="ng-dirty ng-invalid"
                                    *ngIf="dniYaRegistrado"
                                    style="color: red !important"
                                >
                                Número de Identidad existente.
                                </small>
                            </div>
                            
                            
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        pInputText
                                        formControlName="opta_CorreoElectronico"
                                        (keydown)="ValidarCorreo($event)"
                                        maxlength="60"
                                        (input)="permitirFormatoCorreo($event); correoYaRegistrado = false"
                                        placeholder="usuario@dominio.com"
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                                (enviadoPersonal && optanteForm.get('opta_CorreoElectronico')?.invalid) || correoYaRegistrado
                                        }"
                                    />
                                    <label>Correo Electrónico</label>
                                </span>
                                <!-- Mensaje de campo requerido -->
                                <small
                                    *ngIf="
                                        enviadoPersonal &&
                                        optanteForm.get('opta_CorreoElectronico')?.errors?.['required']
                                    "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                                <!-- Mensaje de correo no válido -->
                                <small
                                    *ngIf="
                                        enviadoPersonal &&
                                        optanteForm.get('opta_CorreoElectronico')?.errors?.['pattern']
                                    "
                                    style="color: red !important"
                                >
                                    Ingresa un correo electrónico válido.
                                </small>
                                <!-- Mensaje de correo ya registrado -->
                                <small
                                    class="ng-dirty ng-invalid"
                                    *ngIf="correoYaRegistrado"
                                    style="color: red !important"
                                >
                                    Correo electrónico existente.
                                </small>
                            </div>
                            
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user-edit"></i>
                                    <input
                                        (keydown)="ValidarTexto($event)"
                                        (input)="permitirSoloLetras($event)"
                                        maxlength="80"
                                        placeholder="Ingrese su primer y segundo nombre."
                                        type="text"
                                        pInputText
                                        formControlName="opta_Nombres"
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                            enviadoPersonal &&
                                                optanteForm.get('opta_Nombres')
                                                    ?.invalid
                                        }"
                                    />
                                    <label>Nombres</label>
                                </span>
                                <small
                                    class="ng-dirty ng-invalid"
                                    *ngIf="
                                    enviadoPersonal &&
                                        optanteForm.get('opta_Nombres')?.invalid
                                    "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user-edit"></i>
                                    <input
                                        (keydown)="ValidarTexto($event)"
                                        (input)="permitirSoloLetras($event)"
                                        maxlength="80"
                                        placeholder="Ingrese su primer y segundo apellido."
                                        type="text"
                                        pInputText
                                        formControlName="opta_Apellidos"
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                            enviadoPersonal &&
                                                optanteForm.get(
                                                    'opta_Apellidos'
                                                )?.invalid
                                        }"
                                    />
                                    <label>Apellidos</label>
                                </span>
                                <small
                                    class="ng-dirty ng-invalid"
                                    *ngIf="
                                    enviadoPersonal &&
                                        optanteForm.get('opta_Apellidos')
                                            ?.invalid
                                    "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-calendar
                                        [showIcon]="true"
                                        formControlName="opta_FechaNacimiento"
                                        placeholder="Día/Mes/Año."
                                        [defaultDate]="fechaPorDefecto"
                                        [yearRange]="anioRango"
                                        [minDate]="fechaMinima"
                                        [maxDate]="fechaMaxima"
                                    ></p-calendar>
                                    <label>Fecha de Nacimiento</label>
                                </span>
                                <small
                                    *ngIf="
                                    enviadoPersonal &&
                                        optanteForm.get('opta_FechaNacimiento')?.errors?.['required']
                                    "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        inputId="autocomplete"
                                        [(ngModel)]="seleccionadoTipoSangre"
                                        [suggestions]="filtradoTiposSangre"
                                        placeholder="Seleccione su tipo de sangre."
                                        (completeMethod)="
                                            filtroTipoSangre($event)
                                        "
                                        field="tisa_Descripcion"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarTipoSangre()"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'tisa_Id'
                                            ].setValue(
                                                seleccionadoTipoSangre?.tisa_Id
                                            )
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-autoComplete>

                                    <label for="dropdown">Tipo de Sangre</label>
                                </span>
                                <small
                                    *ngIf="enviadoPersonal && optanteForm.get('tisa_Id')?.errors?.['required']"
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        inputId="acestado"
                                        [(ngModel)]="seleccionadoEstadoCivil"
                                        [suggestions]="filtradoEstadosCiviles"
                                        (completeMethod)="
                                            filtroEstadoCivil($event)
                                        "
                                        field="civi_DescripcionEstadoCivil"
                                        placeholder="Seleccione su estado civil."
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarEstadoCivil()"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'civi_Id'
                                            ].setValue(
                                                seleccionadoEstadoCivil?.civi_Id
                                            )
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-autoComplete>
                                    <label for="dropdown">Estado Civil</label>
                                </span>
                                <small
                                    *ngIf="enviadoPersonal && optanteForm.get('civi_Id')?.errors?.['required']"
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                            <div class="input-group col-12 md:col-6">
                                <label>Sexo</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <p-radioButton
                                                name="opta_Sexo"
                                                value="F"
                                                id="F"
                                                formControlName="opta_Sexo"
                                            ></p-radioButton>
                                            <label>Femenino</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <p-radioButton
                                                name="opta_Sexo"
                                                value="M"
                                                id="M"
                                                formControlName="opta_Sexo"
                                            ></p-radioButton>
                                            <label>Masculino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-6">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-map-marker"></i>
                                    <textarea
                                        rows="3"
                                        cols="30"
                                        pInputTextarea
                                        placeholder="Ingrese su dirección exacta."
                                        formControlName="opta_Direccion"
                                        maxlength="150"
                                        (keydown)="validarDireccion($event)"
                                        (input)="
                                            permitirFormatoDireccion($event)
                                        "
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                            enviadoPersonal &&
                                                optanteForm.get(
                                                    'opta_Direccion'
                                                )?.invalid
                                        }"
                                    ></textarea>
                                    <label>Dirección</label>
                                </span>
                                <small
                                    *ngIf="
                                    enviadoPersonal &&
                                        optanteForm.get('opta_Direccion')?.errors?.['required']
                                    "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-phone"></i>
                                    <input
                                        (keydown)="ValidarNumeros($event)"
                                        (input)="permitirSoloNumeros($event)"
                                        placeholder="Ingrese su número de teléfono celular."
                                        maxlength="8"
                                        type="text"
                                        formControlName="opta_Telefono1"
                                        pInputText
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                            enviadoPersonal &&
                                                optanteForm.get(
                                                    'opta_Telefono1'
                                                )?.invalid
                                        }"
                                    />
                                    <label>Celular</label>
                                </span>
                                <small
                                    class="ng-dirty ng-invalid"
                                    *ngIf="
                                    enviadoPersonal &&
                                        optanteForm.get('opta_Telefono1')
                                            ?.invalid
                                    "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                        </div>
                        <div
                            style="
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                            "
                        >
                            <a routerLink="login-pasantes" class="register-link"
                                >Iniciar Sesión</a
                            >
                            <button
                                pButton
                                pRipple
                                label="Siguiente"
                                icon="pi pi-chevron-right"
                                iconPos="right"
                                (click)="siguiente()"
                            ></button>
                        </div>
                    </form>
                </p-tabPanel>
                <p-tabPanel header="General" [disabled]="!validarCamposPersonales()">
                    <form [formGroup]="optanteForm">
                        <div class="grid nested-grid">
                            <div class="col-6">
                                <div class="grid p-fluid">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span
                                                class="p-float-label p-input-icon-left"
                                            >
                                                <i class="pi pi-phone"></i>
                                                <input
                                                    (keydown)="
                                                        ValidarNumeros($event)
                                                    "
                                                    placeholder="Ingrese un número de celular alterno."
                                                    (input)="
                                                        permitirSoloNumeros(
                                                            $event
                                                        )
                                                    "
                                                    maxlength="8"
                                                    type="text"
                                                    pInputText
                                                    formControlName="opta_Telefono2"
                                                />
                                                <label>Celular Alterno</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="p-float-label">
                                                <p-autoComplete
                                                    inputId="acproyecto"
                                                    [(ngModel)]="
                                                        seleccionadoProyecto
                                                    "
                                                    [suggestions]="
                                                        filtradoProyectos
                                                    "
                                                    (completeMethod)="
                                                        filtroProyecto($event)
                                                    "
                                                    field="pryt_DescripcionProyecto"
                                                    placeholder="Seleccione el proyecto a optar."
                                                    [dropdown]="true"
                                                    [showClear]="true"
                                                    (onClear)="
                                                        limpiarProyecto()
                                                    "
                                                    (onSelect)="
                                                        optanteForm.controls[
                                                            'prco_Id'
                                                        ].setValue(
                                                            seleccionadoProyecto?.pryt_Id
                                                        )
                                                    "
                                                    [ngModelOptions]="{
                                                        standalone: true
                                                    }"
                                                ></p-autoComplete>
                                                <label for="dropdown"
                                                    >Proyecto</label
                                                >
                                            </span>
                                            <small
                                                *ngIf="enviadoGeneral && optanteForm.get('prco_Id')?.errors?.['required']"
                                                style="color: red !important"
                                            >
                                                El campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="p-float-label">
                                                <p-autoComplete
                                                    [suggestions]="
                                                        filtradoDepartamentos
                                                    "
                                                    (completeMethod)="
                                                        filtroDepartamento(
                                                            $event
                                                        )
                                                    "
                                                    placeholder="Seleccione su departamento."
                                                    field="depa_DescripcionDepartamento"
                                                    [dropdown]="true"
                                                    [showClear]="true"
                                                    (onClear)="
                                                        limpiarDepartamento()
                                                    "
                                                    (onSelect)="
                                                        seleccionandoDepartamento(
                                                            $event
                                                        )
                                                    "
                                                >
                                                </p-autoComplete>
                                                <label for="dropdown"
                                                    >Departamento</label
                                                >
                                            </span>
                                            <small
                                                *ngIf="
                                                enviadoGeneral &&
                                                    !seleccionadoDepartamento
                                                "
                                                style="color: red !important"
                                            >
                                                El campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="p-float-label">
                                                <p-autoComplete
                                                    [(ngModel)]="
                                                        seleccionadoMunicipio
                                                    "
                                                    [suggestions]="
                                                        filtradoMunicipios
                                                    "
                                                    placeholder="Seleccione su municipio."
                                                    (completeMethod)="
                                                        filtroMunicipio($event)
                                                    "
                                                    field="muni_DescripcionMunicipio"
                                                    [dropdown]="true"
                                                    [showClear]="true"
                                                    (onClear)="
                                                        limpiarMunicipio()
                                                    "
                                                    [disabled]="
                                                        municipios.length === 0
                                                    "
                                                    (onSelect)="
                                                        optanteForm.controls[
                                                            'muni_Id'
                                                        ].setValue(
                                                            seleccionadoMunicipio?.muni_Id
                                                        )
                                                    "
                                                    [ngModelOptions]="{
                                                        standalone: true
                                                    }"
                                                >
                                                </p-autoComplete>
                                                <label for="dropdown"
                                                    >Municipio</label
                                                >
                                            </span>
                                            <small
                                                *ngIf="enviadoGeneral && optanteForm.get('muni_Id')?.errors?.['required']"
                                                style="color: red !important"
                                            >
                                                El campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label style="color: rgb(19, 18, 18)"
                                    >Imagen</label
                                >
                                <p-fileUpload
                                    #fileUpload
                                    name="demo[]"
                                    (onSelect)="seleccionarImagen($event)"
                                    (onRemove)="eliminarImagen($event)"
                                    [customUpload]="true"
                                    [multiple]="false"
                                    accept="image/*"
                                    chooseLabel="Subir"
                                    [showUploadButton]="false"
                                    [showCancelButton]="false"
                                    [auto]="true"
                                >
                                    <ng-template pTemplate="content">
                                        <div
                                            class="image-upload-container"
                                            (click)="fileUpload.choose()"
                                        >
                                            <ng-container
                                                *ngIf="
                                                    !optanteForm.get(
                                                        'opta_Imagen'
                                                    )?.value;
                                                    else showImage
                                                "
                                            >
                                                <div class="upload-placeholder">
                                                    <i
                                                        class="pi pi-image text-900 text-4xl mb-3 custom-icon-size"
                                                    ></i>
                                                    <span
                                                        class="font-bold text-900 text-2xl mb-3"
                                                    >
                                                        Subir Imagen
                                                    </span>
                                                    <span
                                                        class="font-medium text-600 text-lg text-center"
                                                    >
                                                        Seleccione Una Imagen
                                                    </span>
                                                </div>
                                            </ng-container>
                                            <ng-template #showImage>
                                                <div
                                                    class="image-preview-container"
                                                >
                                                    <img
                                                        [src]="
                                                            optanteForm.get(
                                                                'opta_Imagen'
                                                            )?.value
                                                        "
                                                        alt="Imagen seleccionada"
                                                        class="image-preview"
                                                    />
                                                </div>
                                            </ng-template>
                                        </div>
                                    </ng-template>
                                </p-fileUpload>
                                <small
                                    *ngIf="enviadoGeneral && optanteForm.get('opta_Imagen')?.errors?.['required']"
                                    style="color: red !important"
                                >
                                    La imagen es obligatoria.
                                </small>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [suggestions]="filtradoUniversidades"
                                        (completeMethod)="
                                            filtroUniversidad($event)
                                        "
                                        placeholder="Seleccione su universidad."
                                        field="univ_DescripcionUniversidad"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarUniversidad()"
                                        (onSelect)="
                                            seleccionandoUniversidad($event)
                                        "
                                    >
                                    </p-autoComplete>
                                    <label for="dropdown">Universidad</label>
                                </span>
                                <small
                                *ngIf="
                                enviadoGeneral &&
                                !seleccionadoUniversidad
                            "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [suggestions]="filtradoRegionales"
                                        (completeMethod)="
                                            filtroRegional($event)
                                        "
                                        placeholder="Seleccione su regional universitaria."
                                        field="regi_DescripcionRegional"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarRegional()"
                                        [disabled]="regionales.length === 0"
                                        (onSelect)="
                                            seleccionandoRegional($event)
                                        "
                                    ></p-autoComplete>
                                    <label for="dropdown">Regional</label>
                                </span>
                                <small
                                *ngIf="
                                enviadoGeneral &&
                                !seleccionadoRegional
                            "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [suggestions]="filtradoFacultades"
                                        (completeMethod)="
                                            filtroFacultad($event)
                                        "
                                        placeholder="Seleccione su facultad."
                                        field="facu_DesripcionFacultad"
                                        [dropdown]="true"
                                        [disabled]="facultades.length === 0"
                                        [showClear]="true"
                                        (onClear)="limpiarFacultad()"
                                        (onSelect)="
                                            seleccionandoFacultad($event)
                                        "
                                    ></p-autoComplete>
                                    <label for="dropdown">Facultad</label>
                                </span>
                                <small
                                *ngIf="
                                enviadoGeneral &&
                                !seleccionadoFacultad
                            "
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [(ngModel)]="seleccionadoCarrera"
                                        [suggestions]="filtradoCarreras"
                                        (completeMethod)="filtroCarrera($event)"
                                        field="carr_DescripcionCarrera"
                                        placeholder="Seleccione su carrera."
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarCarrera()"
                                        [disabled]="carreras.length === 0"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'cafr_Id'
                                            ].setValue(
                                                seleccionadoCarrera?.cafr_Id
                                            )
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-autoComplete>
                                    <label for="dropdown">Carrera</label>
                                </span>
                                <small
                                    *ngIf="enviadoGeneral && optanteForm.get('cafr_Id')?.errors?.['required']"
                                    style="color: red !important"
                                >
                                    El campo es requerido.
                                </small>
                            </div>
                        </div>

                        <div
                            style="display: flex; justify-content: end"
                            class="gap-3"
                        >
                            <button
                                pButton
                                pRipple
                                label="Regresar"
                                icon="pi pi-chevron-left"
                                iconPos="left"
                                (click)="anterior()"
                            ></button>
                            <button
                                pButton
                                pRipple
                                label="Guardar"
                                icon="pi pi-save"
                                iconPos="left"
                                (click)="guardar()"
                            ></button>
                        </div>
                    </form>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <button class="faq-btn">Preguntas más frecuentes</button>
</div>
