<p-toast></p-toast>

<div class="container">
    <div class="login-card">
        <div class="left-section">
            <div class="logo-container">
                <img
                    style="width: 400px"
                    src="assets/layout/images/usaidlogo-light.png"
                    class="illustration"
                />
                <h1>USAID</h1>
            </div>
        </div>
        <div class="right-section">
            <h2>Registro</h2>

            <p-tabView [(activeIndex)]="IndexTab" class="custom-tabview">
                <p-tabPanel header="Personal">
                    <form [formGroup]="optanteForm">
                        <div class="grid p-fluid mt-1">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user"></i>
                                    <input
                                        type="text"
                                        pInputText
                                        formControlName="opta_DNI"
                                    />
                                    <label>Número de Identidad</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        pInputText
                                        formControlName="opta_CorreoElectronico"
                                    />
                                    <label>Correo Electrónico</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user-edit"></i>
                                    <input
                                        type="text"
                                        pInputText
                                        formControlName="opta_Nombres"
                                    />
                                    <label>Nombres</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user-edit"></i>
                                    <input
                                        type="text"
                                        pInputText
                                        formControlName="opta_Apellidos"
                                    />
                                    <label>Apellidos</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-calendar
                                        [showIcon]="true"
                                        formControlName="opta_FechaNacimiento"
                                    ></p-calendar>
                                    <label for="calendar"
                                        >Fecha de Nacimiento</label
                                    >
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        inputId="autocomplete"
                                        [(ngModel)]="seleccionadoTipoSangre"
                                        [suggestions]="filtradoTiposSangre"
                                        (completeMethod)="
                                            filtroTipoSangre($event)
                                        "
                                        field="tisa_Descripcion"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarTipoSangre()"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'tisa_Id'
                                            ].setValue(
                                                seleccionadoTipoSangre?.tisa_Id
                                            )
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-autoComplete>

                                    <label for="dropdown">Tipo de Sangre</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        inputId="acestado"
                                        [(ngModel)]="seleccionadoEstadoCivil"
                                        [suggestions]="filtradoEstadosCiviles"
                                        (completeMethod)="
                                            filtroEstadoCivil($event)
                                        "
                                        field="civi_DescripcionEstadoCivil"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarEstadoCivil()"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'civi_Id'
                                            ].setValue(
                                                seleccionadoEstadoCivil?.civi_Id
                                            )
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-autoComplete>
                                    <label for="dropdown">Estado Civil</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-6">
                                <label>Sexo</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <p-radioButton
                                                name="opta_Sexo"
                                                value="f"
                                                id="f"
                                                formControlName="opta_Sexo"
                                            ></p-radioButton>
                                            <label>Femenino</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <p-radioButton
                                                name="opta_Sexo"
                                                value="m"
                                                id="m"
                                                formControlName="opta_Sexo"
                                            ></p-radioButton>
                                            <label>Masculino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-map-marker"></i>
                                    <input
                                        type="text"
                                        pInputText
                                        formControlName="opta_Direccion"
                                    />
                                    <label>Dirección</label>
                                </span>
                            </div>
                        </div>
                        <!-- <div
                            class="col-12 flex flex-column lg:flex-row justify-content-center align-items-center lg:justify-content-end my-4"
                        >
                            <button
                                pButton
                                pRipple
                                class="p-button-secondary p-button-outlined mt-3 lg:mt-0 w-full lg:w-auto flex-order-2 lg:flex-order-1 lg:mr-4"
                                label="Cancelar"
                                icon="pi pi-fw pi-arrow-left"
                                style="padding: 1px 10px; height: 30px"
                            ></button>
                            <button
                                pButton
                                pRipple
                                class="p-button-primary w-full lg:w-auto flex-order-1 lg:flex-order-2"
                                label="Registrar"
                                icon="pi pi-fw pi-check"
                                style="padding: 1px 10px; height: 30px"
                            ></button>
                            
                        </div> -->
                        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                            <a routerLink="login-pasantes" class="register-link">Iniciar Sesión</a>
                            <button
                                pButton
                                pRipple
                                label="Siguiente"
                                icon="pi pi-chevron-right"
                                iconPos="right"
                                (click)="siguiente()"
                            ></button>
                        </div>
                        
                    </form>
                </p-tabPanel>
                <p-tabPanel header="General">
                    <form [formGroup]="optanteForm">
                        <div class="grid nested-grid">
                            <div class="col-6">
                                <div class="grid p-fluid">
                                        <div class="input-group col-12 md:col-4">
                                            <span
                                                class="p-float-label p-input-icon-left"
                                            >
                                                <i class="pi pi-phone"></i>
                                                <input
                                                    type="text"
                                                    formControlName="opta_Telefono1"
                                                    pInputText
                                                />
                                                <label>Celular</label>
                                            </span>
                                        </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span
                                                class="p-float-label p-input-icon-left"
                                            >
                                                <i class="pi pi-phone"></i>
                                                <input
                                                    type="text"
                                                    pInputText
                                                    formControlName="opta_Telefono2"
                                                />
                                                <label>Celular Alterno</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="p-float-label">
                                                <p-autoComplete
                                                    [suggestions]="
                                                        filtradoDepartamentos
                                                    "
                                                    (completeMethod)="
                                                        filtroDepartamento($event)
                                                    "
                                                    field="depa_DescripcionDepartamento"
                                                    [dropdown]="true"
                                                    [showClear]="true"
                                                    (onClear)="limpiarDepartamento()"
                                                    (onSelect)="
                                                        seleccionandoDepartamento(
                                                            $event
                                                        )
                                                    "
                                                >
                                                </p-autoComplete>
                                                <label for="dropdown"
                                                    >Departamento</label
                                                >
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="p-float-label">
                                                <p-autoComplete
                                                    [(ngModel)]="seleccionadoMunicipio"
                                                    [suggestions]="filtradoMunicipios"
                                                    (completeMethod)="
                                                        filtroMunicipio($event)
                                                    "
                                                    field="muni_DescripcionMunicipio"
                                                    [dropdown]="true"
                                                    [showClear]="true"
                                                    (onClear)="limpiarMunicipio()"
                                                    [disabled]="municipios.length === 0"
                                                    (onSelect)="
                                                        optanteForm.controls[
                                                            'muni_Id'
                                                        ].setValue(
                                                            seleccionadoMunicipio?.muni_Id
                                                        )
                                                    "
                                                    [ngModelOptions]="{
                                                        standalone: true
                                                    }"
                                                >
                                                </p-autoComplete>
                                                <label for="dropdown">Municipio</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label style="color: rgb(19, 18, 18);">Imagen</label>
                                <!-- <small
                          style="display: inline-block; color: red !important; vertical-align: super;"
                          class="ng-dirty ng-invalid"
                          *ngIf="optanteForm.controls['opta_Imagen'].invalid"
                        >*</small> -->
                                <p-fileUpload
                                    #fileUpload
                                    name="demo[]"
                                    (onSelect)="seleccionarImagen($event)"
                                    (onRemove)="eliminarImagen($event)"
                                    [customUpload]="true"
                                    [multiple]="false"
                                    accept="image/*"
                                    chooseLabel="Subir"
                                    [showUploadButton]="false"
                                    [showCancelButton]="false"
                                    [auto]="true"
                                    formControlName="opta_Imagen"
                                >
                                    <ng-template pTemplate="content">
                                        <div
                                            class="image-upload-container"
                                            (click)="fileUpload.choose()"
                                        >
                                            <ng-container
                                                *ngIf="
                                                    !optanteForm.get(
                                                        'opta_Imagen'
                                                    )?.value;
                                                    else showImage
                                                "
                                            >
                                                <div class="upload-placeholder">
                                                    <i
                                                        class="pi pi-image text-900 text-4xl mb-3 custom-icon-size"
                                                    ></i>
                                                    <span
                                                        class="font-bold text-900 text-2xl mb-3"
                                                        >Subir Imagen</span
                                                    >
                                                    <span
                                                        class="font-medium text-600 text-lg text-center"
                                                        >Seleccione Una
                                                        Imagen</span
                                                    >
                                                </div>
                                            </ng-container>
                                            <ng-template #showImage>
                                                <div
                                                    class="image-preview-container"
                                                >
                                                    <img
                                                        [src]="
                                                            optanteForm.get(
                                                                'opta_Imagen'
                                                            )?.value
                                                        "
                                                        alt="Imagen seleccionada"
                                                        class="image-preview"
                                                    />
                                                </div>
                                            </ng-template>
                                        </div>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [suggestions]="filtradoUniversidades"
                                        (completeMethod)="
                                            filtroUniversidad($event)
                                        "
                                        field="univ_DescripcionUniversidad"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarUniversidad()"
                                        (onSelect)="
                                            seleccionandoUniversidad($event)
                                        "
                                    >
                                    </p-autoComplete>
                                    <label for="dropdown">Universidad</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [suggestions]="filtradoRegionales"
                                        (completeMethod)="
                                            filtroRegional($event)
                                        "
                                        field="regi_DescripcionRegional"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarRegional()"
                                        [disabled]="regionales.length === 0"
                                        (onSelect)="
                                            seleccionandoRegional($event)
                                        "
                                    ></p-autoComplete>
                                    <label for="dropdown">Regional</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [suggestions]="filtradoFacultades"
                                        (completeMethod)="
                                            filtroFacultad($event)
                                        "
                                        field="facu_DesripcionFacultad"
                                        [dropdown]="true"
                                        [disabled]="facultades.length === 0"
                                        [showClear]="true"
                                        (onClear)="limpiarFacultad()"
                                        (onSelect)="
                                            seleccionandoFacultad($event)
                                        "
                                    ></p-autoComplete>
                                    <label for="dropdown">Facultad</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [(ngModel)]="seleccionadoCarrera"
                                        [suggestions]="filtradoCarreras"
                                        (completeMethod)="filtroCarrera($event)"
                                        field="carr_DescripcionCarrera"
                                        [dropdown]="true"
                                        [showClear]="true"
                                        (onClear)="limpiarCarrera()"
                                        [disabled]="carreras.length === 0"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'cafr_Id'
                                            ].setValue(
                                                seleccionadoCarrera?.cafr_Id
                                            )
                                        "
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-autoComplete>
                                    <label for="dropdown">Carrera</label>
                                </span>
                            </div>
                        </div>

                        <div
                            style="display: flex; justify-content: end"
                            class="gap-3"
                        >
                            <button
                                pButton
                                pRipple
                                label="Regresar"
                                icon="pi pi-chevron-left"
                                iconPos="left"
                                (click)="anterior()"
                            ></button>
                            <button
                                pButton
                                pRipple
                                label="Guardar"
                                icon="pi pi-save"
                                iconPos="left"
                                (click)="guardar()"
                            ></button>
                        </div>
                    </form>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <button class="faq-btn">Preguntas más frecuentes</button>

</div>
