<div class="container">
    <div class="login-card">
        <div class="left-section">
            <div class="logo-container">
                <img
                    style="width: 400px"
                    src="assets/layout/images/usaidlogo-light.png"
                    class="illustration"
                />
                <h1>USAID</h1>
            </div>
        </div>
        <div class="right-section">
            <h2>Registro</h2>

            <p-tabView [(activeIndex)]="IndexTab" class="custom-tabview">
                <p-tabPanel header="Personal">
                    <form [formGroup]="optanteForm">
                        <div class="grid p-fluid mt-1">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user"></i>
                                    <input
                                        type="text"
                                        id="dni"
                                        pInputText
                                        formControlName="opta_DNI"
                                    />
                                    <label>Número de Identidad</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        id="correo"
                                        pInputText
                                        formControlName="opta_CorreoElectronico"
                                    />
                                    <label>Correo Electrónico</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        id="lefticon"
                                        pInputText
                                    />
                                    <label>Nombres</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        id="lefticon"
                                        pInputText
                                    />
                                    <label>Apellidos</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-calendar
                                        [showIcon]="true"
                                        inputId="icon"
                                    ></p-calendar>
                                    <label for="calendar"
                                        >Fecha de Nacimiento</label
                                    >
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        inputId="autocomplete"
                                        [(ngModel)]="seleccionadoTipoSangre"
                                        [suggestions]="filtradoTiposSangre"
                                        (completeMethod)="
                                            filtroTipoSangre($event)
                                        "
                                        field="tisa_Descripcion"
                                        [dropdown]="true"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'tisa_Id'
                                            ].setValue(
                                                seleccionadoTipoSangre?.tisa_Id
                                            )
                                        "
                                    ></p-autoComplete>
                                    <label for="dropdown">Tipo de Sangre</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        inputId="autocomplete2"
                                        [(ngModel)]="seleccionadoEstadosCiviles"
                                        [suggestions]="filtradoEstadosCiviles"
                                        (completeMethod)="
                                            filtroEstadoCivil($event)
                                        "
                                        field="civi_DescripcionEstadoCivil"
                                        [dropdown]="true"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'civi_Id'
                                            ].setValue(
                                                seleccionadoEstadosCiviles?.civi_Id
                                            )
                                        "
                                    ></p-autoComplete>
                                    <label for="dropdown">Estado Civil</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <label>Sexo</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton
                                                name="sexo"
                                                value="f"
                                                id="f"
                                            ></p-radioButton>
                                            <label for="city1">Femenino</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton
                                                name="sexo"
                                                value="m"
                                                id="m"
                                            ></p-radioButton>
                                            <label for="city2">Masculino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        id="lefticon"
                                        pInputText
                                    />
                                    <label>Dirección</label>
                                </span>
                            </div>
                        </div>
                        <!-- <div
                            class="col-12 flex flex-column lg:flex-row justify-content-center align-items-center lg:justify-content-end my-4"
                        >
                            <button
                                pButton
                                pRipple
                                class="p-button-secondary p-button-outlined mt-3 lg:mt-0 w-full lg:w-auto flex-order-2 lg:flex-order-1 lg:mr-4"
                                label="Cancelar"
                                icon="pi pi-fw pi-arrow-left"
                                style="padding: 1px 10px; height: 30px"
                            ></button>
                            <button
                                pButton
                                pRipple
                                class="p-button-primary w-full lg:w-auto flex-order-1 lg:flex-order-2"
                                label="Registrar"
                                icon="pi pi-fw pi-check"
                                style="padding: 1px 10px; height: 30px"
                            ></button>
                            
                        </div> -->
                        <div style="display: flex; justify-content: end">
                            <button
                                pButton
                                pRipple
                                label="Siguiente"
                                icon="pi pi-chevron-right"
                                iconPos="right"
                                (click)="siguiente()"
                            ></button>
                        </div>
                    </form>
                </p-tabPanel>
                <p-tabPanel header="General">
                    <form [formGroup]="optanteForm">
                        <div class="input-group">
                            <label>Imagen</label>
                            <p-fileUpload
                                name="demo[]"
                                url="./upload.php"
                                (onUpload)="subirImagen($event)"
                                [multiple]="true"
                                accept="image/*"
                                [maxFileSize]="1000000"
                            >
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">
                                            {{ file.name }} -
                                            {{ file.size }} bytes
                                        </li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        id="lefticon"
                                        pInputText
                                    />
                                    <label>Celular</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        type="text"
                                        id="lefticon"
                                        pInputText
                                    />
                                    <label>Celular Alterno</label>
                                </span>
                            </div>
                        </div>

                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [(ngModel)]="seleccionadoDepartamentos"
                                        [suggestions]="filtradoDepartamentos"
                                        (completeMethod)="
                                            filtroDepartamento($event)
                                        "
                                        field="depa_DescripcionDepartamento"
                                        [dropdown]="true"
                                        (onSelect)="
                                            optanteForm.controls[
                                                'depa_Id'
                                            ].setValue(
                                                seleccionadoDepartamentos?.depa_Id
                                            )
                                        "
                                    ></p-autoComplete>
                                    <label for="dropdown">Departamento</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-dropdown
                                        inputId="dropdown"
                                        [autoDisplayFirst]="false"
                                        optionLabel="name"
                                    ></p-dropdown>
                                    <label for="dropdown">Municipio</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-dropdown
                                        inputId="dropdown"
                                        [autoDisplayFirst]="false"
                                        optionLabel="name"
                                    ></p-dropdown>
                                    <label for="dropdown">Universidad</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-dropdown
                                        inputId="dropdown"
                                        [autoDisplayFirst]="false"
                                        optionLabel="name"
                                    ></p-dropdown>
                                    <label for="dropdown">Regional</label>
                                </span>
                            </div>
                        </div>
                        <div class="grid p-fluid mt-0.2">
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-dropdown
                                        inputId="dropdown"
                                        [autoDisplayFirst]="false"
                                        optionLabel="name"
                                    ></p-dropdown>
                                    <label for="dropdown">Facultad</label>
                                </span>
                            </div>
                            <div class="input-group col-12 md:col-4">
                                <span class="p-float-label">
                                    <p-dropdown
                                        inputId="dropdown"
                                        [autoDisplayFirst]="false"
                                        optionLabel="name"
                                    ></p-dropdown>
                                    <label for="dropdown">Carrera</label>
                                </span>
                            </div>
                        </div>

                        <div
                            style="display: flex; justify-content: end"
                            class="gap-3"
                        >
                            <button
                                pButton
                                pRipple
                                label="Regresar"
                                icon="pi pi-chevron-left"
                                iconPos="left"
                                (click)="anterior()"
                            ></button>
                            <button
                                pButton
                                pRipple
                                label="Guardar"
                                icon="pi pi-save"
                                iconPos="left"
                                (click)="guardar()"
                            ></button>
                        </div>
                    </form>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
