body,
html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0b2751, #1f3168); /* Fondo azul */
}

.login-card {
    display: flex;
    width: 70%; /* M치s ancho */
    background: #fff; /* Fondo blanco */
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 80%; /* M치s alto */
    border-style: hidden;
    position: relative; /* Para posicionar el bot칩n de FAQ */
}

.left-section {
    background: #1f3168;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.left-section img {
    max-width: 70%;
    height: auto;
}

.right-section {
    flex: 3; /* M치s espacio para el formulario */
    padding: 40px; /* M치s espacio interno */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 30px; /* M치s grande */
    margin-bottom: 20px;
    color: #1f3168; /* Azul */
    text-align: center;
}

//ESTILOS PARA INPUTS
::ng-deep .p-inputtext {
    color: #2a2a2a;
}

.input-group {
    flex: 1; /* Hace que ambos campos tomen el mismo ancho */
    margin-bottom: 10px;
    width: 100%;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    border: 1px solid #ccc;
    height: 32px;
    border-radius: 5px;
}

.input-group input:focus {
    border: 1px solid #1f3168; /* Azul */
    outline: none;
}

//ESTILOS PARA CALENDARIO, Y AUTOCOMPLETADOS
p-calendar,
p-autoComplete {
    width: 100%; /* Asegura que ocupe el ancho del contenedor */
    height: 32px;
    border: 1px solid #ccc !important; /* Color del borde */
    border-radius: 6px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye padding y border en el tama침o total */
}

/* Asegurar consistencia en todos los elementos */
p-calendar,
p-autoComplete {
    display: block;
    font-family: inherit; /* Usa la misma fuente */
    font-size: inherit; /* Mantiene el mismo tama침o de fuente */
    line-height: inherit;
}

::ng-deep p-calendar .p-inputtext:focus {
    border: 1px solid #1f3168 !important;
    outline: none;
}

::ng-deep .p-inputtext:enabled:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    border-color: #1f3168; /* Azul */
}

/* Estilo para el bot칩n del calendario */
::ng-deep .p-button:not(:disabled):hover {
    background: #1f3168 !important; /* Cambia el fondo al azul */
    color: #ffffff !important; /* Asegura que el texto/icono sea blanco */
    border-color: #1f3168 !important; /* Cambia el borde al azul */
}

//ESTILOS PARA TABS
.custom-tabview ::ng-deep .p-tabview-nav {
  display: flex !important; /* Asegura que se use flexbox */
  justify-content: center !important; /* Centra las pesta침as */
}

/* Cambiar el color de la barra activa del tab */
::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: #1f3168 !important; /* Cambiar el color al azul */
}

/* Cambiar el color del t칤tulo de la pesta침a activa */
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent; /* Fondo transparente */
    border-color: #1f3168 !important; /* Color azul para el borde */
    color: #1f3168 !important; /* Color azul para el texto */
    font-weight: bold; /* Opcional: hacer que el texto se vea m치s destacado */
    transition: 0.3s ease-in-out; /* Transici칩n suave para el cambio de color */
}

/* Cambiar el color del texto en pesta침as inactivas */
::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    color: #2a2a2a !important; /* Negro para el texto */
    border-color: transparent !important; /* Asegura que el borde siga transparente */
    background: transparent !important; /* Fondo transparente */
    font-weight: 500; /* Mantiene el estilo de fuente */
    transition: color 0.2s ease-in-out; /* Transici칩n suave al cambiar color */
}

/* Cambiar color del texto al pasar el cursor por pesta침as inactivas */
::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
    color: #333333 !important; /* Negro m치s claro al pasar el cursor */
}

//ESTILOS PARA RADIO
::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #1f3168; /* Azul */
    background: #1f3168; /* Azul */
}


//SUBIR IMAGENES
::ng-deep .p-fileupload-buttonbar {
  display: none;
}

::ng-deep .p-fileupload-files.ng-star-inserted > .ng-star-inserted > .p-fileupload-row > div {
  display: none !important;
}

   //boton de borrar imagen
::ng-deep .p-fileupload-files.ng-star-inserted > .ng-star-inserted > .p-fileupload-row > div:last-child > .p-element.p-button-icon-only.p-button.p-component {
  width: 24px !important;
  height: 24px !important;
  position: absolute !important;
  top: 8px !important;
  right: 8px !important;
}

.image-upload-container {
    width: calc(100% - 10px);
  border: 3px dotted rgba(255, 255, 255, 0.795);
  border-radius: 5px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f3168;
  box-shadow: 0 4px 8px #1f3168bd;
  position: relative;
  overflow: hidden; /* Asegura que nada se salga del contenedor */
}
//ESTO ME SALVO EL DISENIO游땴
.grid.p-fluid {
    margin: 0; /* Asegura que no haya m치rgenes adicionales */
    padding: 0; /* Asegura que no haya paddings adicionales */
}

.input-group {
    margin-bottom: 0; /* Elimina m치rgenes entre grupos */
}


.image-preview-container img {
  max-width: 100%; /* Ajusta el ancho al contenedor */
  height: auto; /* Ajusta la altura al contenedor */
  object-fit: contain; /* Mantiene la proporci칩n de la imagen */
  border-radius: 5px; /* Opcional: redondea las esquinas */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Opcional: sombra para la imagen */
}
::ng-deep .p-fileupload-content {
    width: 100%; /* Asegura que ocupe el 100% del espacio disponible */
    max-width: 325px; /* Ancho m치ximo igual al del input */
    height: 240px; /* Mant칠n la altura deseada */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 0; /* Elimina m치rgenes innecesarios */
    padding: 0; /* Elimina padding si lo hubiera */
    border: none; /* Elimina bordes no deseados */
    box-sizing: border-box; /* Asegura que el ancho incluya padding y bordes */
}


.upload-placeholder {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 10px;
}

.upload-placeholder i {
font-size: 3rem;
}

.upload-placeholder span {
margin-bottom: 0.5rem;
}
.custom-icon-size {
font-size: 5rem; /* Aumenta el tama침o del 칤cono */
}

//ESTILO PARA BOTONES
/* Estilo adicional para el estado normal (sin hover) */
::ng-deep .p-button {
  background: #1f3168 !important; /* Fondo azul */
  color: #ffffff !important; /* Texto/icono blanco */
  border-color: #1f3168 !important; /* Borde azul */
}

.forgot-link,
.faq-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #1f3168; /* Azul */
    text-decoration: none;
}

.forgot-link:hover,
.faq-link:hover {
    text-decoration: underline;
}

.login-btn {
    background: #1f3168; /* Rojo */
    color: #fff;
    padding: 15px; /* Bot칩n m치s grande */
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Texto m치s grande */
    cursor: pointer;
    transition: background 0.3s;
    margin: 0 auto; /* Centrado del bot칩n */
    display: block;
}

.login-btn:hover {
    background: #1f3168; /* Rojo m치s oscuro */
}

.register-link {
    border-top: 20px;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #1f3168; /* Azul */
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.faq-btn {
    position: absolute;
    top: 2px;
    right: 20px;
    background: #ffffff;
    color: #1f3168;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold; /* Texto en negritas */
}

.faq-btn:hover {
    background: #4d94ff;
}

.logo-container {
    display: flex;
    flex-direction: column; /* Apilar elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

.logo-container img {
    max-width: 70%;
    height: auto;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}

.logo-container h1 {
    font-size: 50px; /* Tama침o del texto */
    color: #fff; /* Color del texto */
    text-align: center; /* Centrar el texto */
}
